main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #searchbox {
  background: var(--box);
  border: 1px solid var(--boxborder);
  border-radius: 1.2rem;
  padding: 10px;
  width: 15rem;
  transition: 0.2s;
}
main #searchbox:focus {
  outline: none;
  background: var(--boxhover);
  box-shadow: 0 0 5px var(--boxborder);
}
main .holder {
  padding: 0 2.5px;
  margin: 15px;
  gap: 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

main .holder .invert {
  filter: var(--icon);
}
